.header-container{
    background-color: #ffe9f6;
    width: 100%;
    padding: 30px 50px;
    margin: 10px 50px;
    float: left;
    ul {
        list-style: none;
        background-color: #ffe9f6;
        li {
            margin: 0 10px;
        }
    }
}

.cursor-pointer {
    cursor: pointer;
}

